.navbar{
    .sidebar{
        position: fixed;
        left: 0;
        top: 0;
        width: 300px;
        height: 100vh;
        background-color: gray;
        color: white;
        padding: 20px;

        nav{
            ul{
                list-style-type: none;
                padding: 0;
            }
            li{
                margin: 15px 0;
            }
            a {
                color: #fff;
                text-decoration: none;
                padding: 10px 15px;
                display: block;
                transition: background-color 0.3s ease;
      
                &:hover {
                  background-color: #555;
                }
              }
        }

    }
}